<%= form_with(model: @task) do |f| %>

   <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
   <% end %>
  <div class="row"> 
    <div class="mb-2 col-sm-8 offset-sm-2">
      <div class="mb-3">
        <%= f.label :content,'タスク' %>
        <%= f.text_field :content,class: "form-control" %>
      </div>
      <div class="mb-4">
        <%= f.label :status,'ステータス' %>
        <%= f.text_field :status,class: "form-control" %>  
      </div>
    </div>
  </div>
   <div class="row"> 
    <div class="mb-3 col-sm-6 offset-sm-3">
      <%= f.submit'追加',class: 'btn btn-primary mb-3 w-100' %>
    </div>
   </div>
 
<% end %>